#sub{
    background-color: #00ff00;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    border-radius:2px ;
    cursor: pointer;
    margin-right:10px ;
    transition: opacity 1s;
    vertical-align: top;
}

#sub:hover{
    opacity:0.3 ;
    }
/*opacity: Làm mờ*/
#sub:active{
    opacity: 0.5;
}

#join{
 border-color: #0073ff;
    border-style:solid ;
    border-width:1px ;

    cursor: pointer;
    transition: background-color 1s,color 1s;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;

    vertical-align: top;
}

#join:hover{
    background-color: #0073ff;
    color: wheat;

}
#join:active{
    opacity: 0.7;
}
#tweet{
background-color: #0289ff;
    color: white;
    border: none;
    height: 36px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    transition: 1s;
    vertical-align: top;
}
#tweet:hover{
    /*Đổ bóng   : right,botton,kích thước , rgba: màu của đổ bóng*/
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);

}

/*!*cursor: pointer;*! Khi click vào hình bàn tay xuất hiện*/
/*transition: 1s; Thời gian xuất hiện,kết thúc*/
